<p id="notice"><%= notice %></p>

<h1 align=center>Menu</h1>

<div class = menu><table>
  <thead>
    <tr class="menulabel">
      <th>Menu Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Section</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_items.each do |food_item| %>
    <% if food_item.section == "Drink" %>

        <tr>
          <td width='120px'><b><a href="food_items/<%= food_item.id %>"><%= food_item.name %></a></b></td>
          <td width='250px'><%= food_item.description %></td>
          <td width='50px' align='center'><%= food_item.price %></td>
          <td width='100px' align='center'><%= food_item.section %></td>
          <td width='200px' align='center'><img src="<%= food_item.image %>" width="150px" height="120px"></td>
        </tr>
    <% end %>
    <% end %>

    <% @food_items.each do |food_item| %>
    <% if food_item.section == "Breakfast" %>

      <tr>
        <td width='120px'><b><a href="food_items/<%= food_item.id %>"><%= food_item.name %></a></b></td>
        <td width='250px'><%= food_item.description %></td>
        <td width='50px' align='center'><%= food_item.price %></td>
        <td width='100px' align='center'><%= food_item.section %></td>
        <td width='200px' align='center'><img src="<%= food_item.image %>" width="150px" height="120px"></td>
      </tr>
    <% end %>
    <% end %>

    <% @food_items.each do |food_item| %>
    <% if food_item.section == "Lunch" %>

        <tr>
          <td width='120px'><b><a href="food_items/<%= food_item.id %>"><%= food_item.name %></a></b></td>
          <td width='250px'><%= food_item.description %></td>
          <td width='50px' align='center'><%= food_item.price %></td>
          <td width='100px' align='center'><%= food_item.section %></td>
          <td width='200px' align='center'><img src="<%= food_item.image %>" width="150px" height="120px"></td>
        </tr>
    <% end %>
    <% end %>

    <% @food_items.each do |food_item| %>
    <% if food_item.section == "Dinner" %>

        <tr>
          <td width='120px'><b><%= food_item.name %></b></td>
          <td width='250px'><%= food_item.description %></td>
          <td width='50px' align='center'><%= food_item.price %></td>
          <td width='100px' align='center'><%= food_item.section %></td>
          <td width='200px' align='center'><img src="<%= food_item.image %>" width="150px" height="120px"></td>
        </tr>
    <% end %>
    <% end %>


  </tbody>
</table></div>

<br>
