<!DOCTYPE html>
<html>
  <head>
    <title>ScottRestaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = nav><ul>
  <li class="active"><%= link_to 'Home', controller: 'home' %></li>
  <li><%= link_to 'Menu', controller: 'food_items' %></li>
  <li><%= link_to 'Contact', contact_path %></li>
  </ul>
  </div>


  <div class = container>
  <%= yield %>
  </div>

</body>
</html>
